@import url("https://fonts.googleapis.com/css?family=Satisfy");

*:focus {
  outline: none;
}

body {
  font-family: "Satisfy", cursive;
  background-color: #efede2;

  header {
    margin: auto;
    font-size: 2.5em;
    text-align: center;
    text-decoration: underline;
  }
}

.container {
  margin: auto;
  width: 650px;
  display: flex;
  flex-direction: column;

  .input--section {
    display: flex;
    justify-content: center;
    margin: 1rem;

    #input {
      font-family: "Satisfy", cursive;
      font-size: 1em;
      padding-left: 0.5em;
      min-width: 500px;
      height: 1.5em;
      margin-right: 10px;
      border: 0;
      border-bottom: 1px solid black;
      background: transparent;
      flex: 2;
    }

    #add--button {
      font-family: "Satisfy", cursive;
      border: 1px solid black;
      background: transparent;

      &:hover {
        background: white;
        transition: 0.3s;
      }
    }
  }

  .list > * {
    margin-right: 0.5em;
  }
  .list {
    display: flex;
    justify-content: center;
    margin: 1em;

    .item--desc {
      flex: 3;
    }

    .delete--icon {
      margin-right: 0em;
    }
  }
}
